<div class="row">
  <div class="col-md-8">
    <div class="media">
      <div class="media-body">
        <h1 class="meadia-heading"><%= @user.name %></h1>
        <small>
          <%= pluralize(@user.bookmarks.count, 'bookmark') %>
          <%= pluralize(@user.likes.count, 'like') %>
        </small>
      </div>
    </div>
  </div>
</div>

<h2>Bookmarks</h2>
<%= render @bookmarks %>

<h2>Likes</h2>
<%= render @liked_bookmarks %>
